# vi: set ft=swayconfig

for_window [app_id="com.github.hluk.copyq"] floating enable
for_window [app_id="org.kde.kcalc"] floating enable

# Steam
for_window [class="^[Ss]team$"] floating enable
for_window [title="^[Ss]team$"] floating enable
for_window [instance="^steamwebhelper$"] floating enable

# KDE Connect dialogs
for_window [app_id="org.kde.kdeconnect.handler"] floating enable
for_window [app_id="^.*kdeconnect.*$" title="^Sending to.*$"] floating enable
for_window [app_id="^.*kdeconnect.*$" title="^Receiving file.*$"] floating enable

# Firefox picture-in-picture
for_window [title="Picture-in-Picture"] floating enable
for_window [app_id="firefox" title="Saladict"] floating enable

# Thunar dialogs
for_window [title="File Operation Progress"] floating enable
for_window [title="Confirm to replace files"] floating enable
for_window [title="Audio Information"] floating enable
for_window [title="^Rename .*$"] floating enable

# Ark shows dialogs with file names in their titles
for_window [app_id="org.kde.ark"] floating enable

# RSSGuard
for_window [window_type="floating_con" app_id="io.github.martinrotter.rssguardlite" title="^RSS Guard$"] floating enable

for_window [class="wemeet"] floating enable
for_window [title="Emoji.*Wnd"] floating enable

